<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
		
		<staticContent>
		  <!-- <clientCache cacheControlCustom="public" cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" /> -->
		  <!-- <remove fileExtension=".woff" /> -->
		  <!-- <remove fileExtension=".woff2" /> -->
		  <!-- <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" /> -->
		  <!-- <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" /> -->
		</staticContent>
    </system.webServer>
    <system.webServer>
		<rewrite>
			<rules>
				<rule name="ReactRouter Routes" stopProcessing="true">
					<match url=".*" />
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
					<action type="Rewrite" url="/index.html" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
	<location path="index.html">
		<system.webServer>
			<staticContent>
				<clientCache cacheControlCustom="public, no-cache" />
			</staticContent>
			<httpProtocol>
				<customHeaders>
					<add name="X-UA-Compatible" value="IE=edge" />
					<add name="Content-Security-Policy" value="default-src 'self'; object-src 'none'; img-src 'self' data: blob:; font-src 'self' data:; script-src 'self' 'unsafe-inline'; style-src 'self' 'unsafe-inline'; connect-src 'self' data: https://mf-libs.domaine.formatel.fr/ https://medissys-web.domaine.formatel.fr/" />
				</customHeaders>
			</httpProtocol>
		</system.webServer>
	</location>
	<location path="config.json">
		<system.webServer>
			<staticContent>
				<clientCache cacheControlCustom="public, no-cache" />
			</staticContent>
		</system.webServer>
	</location>
	<location path="asset-manifest.json">
		<system.webServer>
			<staticContent>
				<clientCache cacheControlCustom="public, no-cache" />
			</staticContent>
		</system.webServer>
	</location>
	<location path="service-worker.js">
		<system.webServer>
			<staticContent>
				<clientCache cacheControlCustom="public, no-cache" />
			</staticContent>
		</system.webServer>
	</location>
</configuration>
